*{
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#timer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;

    width: 500px;
    height: 450px;
    margin-top: 10vh;

    color: #f14747;
    background-color: rgb(237, 237, 237);

    border-radius: 2rem;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
    }
}

#start-btn {
    transition: background-color 0.5s ease-in-out;

    width: 500px;
    height: 80px;
    border: none;
    background-color: rgb(237, 237, 237);
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;
    cursor: pointer;

    &:hover {
        background-color: rgb(220, 220, 220);
    }

    margin-bottom: 2rem;
}

#timer-slider {
    appearance: none;
    background-color: rgb(255, 191, 191);
    width: 80%;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;

    &::-moz-range-thumb {
        transition: background-color 0.15s ease-in-out;

        appearance: none;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: #f14747;
        border: none;

        &:hover {
            background-color: #e33d3d;
        }
    }

    &::-webkit-slider-thumb {
        transition: background-color 0.15s ease-in-out;

        appearance: none;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: #f14747;
        border: none;

        &:hover {
            background-color: #e33d3d;
        }
    }
}

#timer-text {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100px;
    transition: transform 0.3s ease-in-out;
    cursor: default;
    font-size: 8rem;
    user-select: none;
    font-weight: bold;
    &:hover {
        transform: scale(1.1);
    }
}

#calendar-btn {
    transition: transform 0.35s ease-in-out;
    position: fixed;

    top: 1.5rem;
    right: 1.5rem;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: none;

    background-color: #e33d3d;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.complete-task {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 500px;
    height: 60px;

    background-color: rgb(237, 237, 237);
    border-radius: 1.5rem;

    font-size: 14px;
    font-weight: bold;

    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

#task-history {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#task-input {
    transition: transform 0.4s ease-in-out, color 0.2s ease-in-out, font-weight 0.4s ease-in-out;

    width: 80%;
    border-radius: 1rem;
    border: none;
    font-weight: bold;
    color: red;

    font-size: 14px;
    height: 3rem;

    text-align: center;

    &:focus {
        outline: none;
        transform: scale(1.1);
        font-weight: normal;
        color: black;
    }
}

#month-selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 280px;
    height: 50px;
    margin-top: 150px;

    font-size: 24px;
    font-weight: bold;
    gap: 1rem;

    button {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
    }
}

#calendar-cells {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    gap: 2%;

    width:800px;
    height: 400px;
    border-radius: 2rem;

    background-color: rgb(237, 237, 237);
}

.calendar-cell {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 55px;
    height: 55px;

    background-color: #f14747;
    color: white;

    border-radius: 1rem;
    font-weight: bold;

    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.change-page-btn {
    transition: transform 0.35s ease-in-out;
    position: fixed;

    top: 1.5rem;
    right: 1.5rem;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: none;

    background-color: #f14747;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.blank-day {
    background-color: #444 !important;
}

// possible phone support for future using media queries